# guild-builder environment variables
NATS_URL=nats://147.93.43.117:4222
NATS_TOKEN=
SUPABASE_URL=https://hvbvvbkybvzfsrzkpbzl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
GUILD_PORT=8443
GUILD_NAME=builder
NATS_PREFIX=citadel.builder
